# Limpieza de datos
***

### Librer√≠as

In [21]:
import os
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings("ignore")#ignorar advertencias

### Carga de datos

In [22]:
df = pd.read_csv("../Data/df_original_250526.csv")
df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,2,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
2,3,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
3,4,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
4,5,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26183,20814,28.0,technician,single,secondary,no,631,no,no,cellular,29,apr,835,7,-1,0,unknown,no
26184,17441,33.0,blue-collar,married,primary,no,0,no,no,cellular,8,may,174,1,-1,0,unknown,no
26185,8281,56.0,blue-collar,divorced,primary,yes,-1,no,no,cellular,18,jul,304,3,-1,0,unknown,no
26186,20919,56.0,management,divorced,tertiary,no,310,no,no,unknown,20,jun,75,4,-1,0,unknown,no
26187,21121,40.0,blue-collar,married,secondary,no,-839,yes,yes,cellular,16,jul,1018,2,-1,0,unknown,yes

## Revisi√≥n datos

### Duplicados exactos

In [23]:
duplicados = df[df.duplicated()]
print(f"Filas duplicadas exactas: {len(duplicados)}")
duplicados

Filas duplicadas exactas: 8

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
26174,311,38.0,student,single,tertiary,no,3316,no,no,unknown,17,jun,1345,3,-1,0,unknown,yes
26177,9358,36.0,blue-collar,divorced,secondary,no,2278,yes,no,unknown,23,may,152,2,-1,0,unknown,no
26178,8554,35.0,management,married,tertiary,no,71,yes,no,cellular,30,apr,510,2,-1,0,unknown,no
26179,1305,44.0,technician,single,secondary,no,250,no,no,telephone,2,mar,382,2,-1,0,unknown,yes
26180,3580,26.0,technician,single,tertiary,no,515,no,no,cellular,31,may,775,1,-1,0,unknown,yes
26181,9471,48.0,blue-collar,divorced,secondary,no,-314,yes,no,cellular,18,may,7,5,-1,0,unknown,no
26182,1549,46.0,management,married,primary,no,3229,yes,no,cellular,20,apr,1550,1,-1,0,unknown,yes
26185,8281,56.0,blue-collar,divorced,primary,yes,-1,no,no,cellular,18,jul,304,3,-1,0,unknown,no

Se han detectado 8 filas duplicadas exactas, las eliminamos por que no aportan informacion nueva al analisis y pueden sesgar resultados

### IDs dulpicados

In [24]:
ids_duplicados = df[df['id'].duplicated()]
print(f"Ids duplicados: {len(ids_duplicados)}")

total_ids_duplicados = df['id'][df['id'].duplicated(keep=False)]
duplicados_id = df[df['id'].isin(total_ids_duplicados)]
print(f"Total de filas con ids duplicados: {len(duplicados_id)}")
duplicados_id.sort_values('id')

Ids duplicados: 15
Total de filas con ids duplicados: 30

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
310,311,38.0,student,single,tertiary,no,3316,no,no,unknown,17,jun,1345,3,-1,0,unknown,yes
26174,311,38.0,student,single,tertiary,no,3316,no,no,unknown,17,jun,1345,3,-1,0,unknown,yes
26179,1305,44.0,technician,single,secondary,no,250,no,no,telephone,2,mar,382,2,-1,0,unknown,yes
1304,1305,44.0,technician,single,secondary,no,250,no,no,telephone,2,mar,382,2,-1,0,unknown,yes
1548,1549,46.0,management,married,primary,no,3229,yes,no,cellular,20,apr,1550,1,-1,0,unknown,yes
26182,1549,46.0,management,married,primary,no,3229,yes,no,cellular,20,apr,1550,1,-1,0,unknown,yes
26180,3580,26.0,technician,single,tertiary,no,515,no,no,cellular,31,may,775,1,-1,0,unknown,yes
3579,3580,26.0,technician,single,tertiary,no,515,no,no,cellular,31,may,775,1,-1,0,unknown,yes
8280,8281,56.0,blue-collar,divorced,primary,yes,-1,no,no,cellular,18,jul,304,3,-1,0,unknown,no
26185,8281,56.0,blue-collar,divorced,primary,yes,-1,no,no,cellular,18,jul,304,3,-1,0,unknown,no
26178,8554,35.0,management,married,tertiary,no,71,yes,no,cellular,30,apr,510,2,-1,0,unknown,no
8553,8554,35.0,management,married,tertiary,no,71,yes,no,cellular,30,apr,510,2,-1,0,unknown,no
9357,9358,36.0,blue-collar,divorced,secondary,no,2278,yes,no,unknown,23,may,152,2,-1,0,unknown,no
26177,9358,36.0,blue-collar,divorced,secondary,no,2278,yes,no,unknown,23,may,152,2,-1,0,unknown,no
26181,9471,48.0,blue-collar,divorced,secondary,no,-314,yes,no,cellular,18,may,7,5,-1,0,unknown,no
9470,9471,48.0,blue-collar,divorced,secondary,no,-314,yes,no,cellular,18,may,7,5,-1,0,unknown,no
26176,16838,52.0,technician,married,secondary,no,195,yes,no,cellular,18,feb,220,1,63,5,failure,yes
16627,16838,30.0,blue-collar,single,secondary,no,573,yes,no,unknown,12,may,116,2,-1,0,unknown,no
17230,17441,51.0,management,married,tertiary,no,385,no,no,cellular,11,aug,39,2,-1,0,unknown,no
26184,17441,33.0,blue-collar,married,primary,no,0,no,no,cellular,8,may,174,1,-1,0,unknown,no
26175,18971,43.0,technician,divorced,tertiary,no,101,no,no,cellular,19,aug,173,3,-1,0,unknown,no
18760,18971,41.0,unknown,single,unknown,no,942,no,no,cellular,27,oct,143,1,188,1,success,yes
20603,20814,41.0,admin.,married,secondary,no,120,no,yes,cellular,8,jul,489,1,-1,0,unknown,no
26183,20814,28.0,technician,single,secondary,no,631,no,no,cellular,29,apr,835,7,-1,0,unknown,no
26186,20919,56.0,management,divorced,tertiary,no,310,no,no,unknown,20,jun,75,4,-1,0,unknown,no
20708,20919,33.0,management,married,secondary,no,336,no,no,cellular,15,apr,179,3,-1,0,unknown,yes
20860,21071,33.0,blue-collar,single,primary,no,1390,yes,no,unknown,21,may,192,1,-1,0,unknown,no
26173,21071,29.0,blue-collar,single,secondary,no,0,no,no,cellular,6,feb,437,2,-1,0,unknown,no
20910,21121,37.0,management,married,tertiary,no,3723,no,no,cellular,22,may,354,1,-1,0,unknown,yes
26187,21121,40.0,blue-collar,married,secondary,no,-839,yes,yes,cellular,16,jul,1018,2,-1,0,unknown,yes

In [25]:
total_ids_duplicados = df[df['id'].duplicated(keep=False)]

# Ver cu√°ntos IDs est√°n duplicados (cuenta √∫nica de los duplicados)
ids_duplicados_unicos = total_ids_duplicados['id'].nunique()
total_filas_duplicadas = len(total_ids_duplicados)

print(f"IDs duplicados: {ids_duplicados_unicos}")
print(f"Filas con IDs duplicados: {total_filas_duplicadas}")

# Identificar aquellos casos donde los registros NO son exactamente iguales (errores de guardado)
duplicados_no_identicos = total_ids_duplicados.groupby('id').filter(lambda x: not x.duplicated().all())

print(f"Filas con IDs duplicados y diferencias entre columnas: {len(duplicados_no_identicos)}")

IDs duplicados: 15
Filas con IDs duplicados: 30
Filas con IDs duplicados y diferencias entre columnas: 30

Se encontraron 15 duplicados de IDs (30 filas en total), y en todos se observ√≥ que el √∫nico campo duplicado es el ID, por lo que se supone que se deben a un error en la carga de datos y se les asigna un nuevo ID al final del dataframe.

### Valores nulos

In [26]:
print(df.isnull().sum())
print("Total nulos = ", df.isnull().sum().sum())

id            0
age          18
job           0
marital      15
education    16
default      15
balance       0
housing      77
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
deposit       0
dtype: int64
Total nulos =  141

Tratamiento de nulos tras acuerdo grupal
- marital --> moda
- education --> moda
- default --> moda
- housing --> moda

## Modificaci√≥n datos

### Eliminar duplicados exactos

In [27]:
# Eliminar duplicados exactos
df = df.drop_duplicates()

# Confirmar que se han eliminado
print(df.shape)

(26180, 18)

### Rellenar valores nulos
Con SimpleImputer rellenamos los valores categ√≥ricos con la moda y el valor num√©rico con la mediana.

In [28]:
# Compruebo modas y medianas antes de imputar datos
for col in ['marital', 'education', 'default', 'housing']:
    print(f"Moda de '{col}': {df[col].mode()[0]}")
    print(df[col].value_counts())
    print()

mediana_age = df['age'].median()
print(f"Mediana de 'age': {mediana_age}")
print((df['age'] == mediana_age).sum())

Moda de 'marital': married
marital
married     14845
single       8307
divorced     3013
Name: count, dtype: int64

Moda de 'education': secondary
education
secondary    12793
tertiary      8666
primary       3577
unknown       1128
Name: count, dtype: int64

Moda de 'default': no
default
no     25773
yes      392
Name: count, dtype: int64

Moda de 'housing': no
housing
no     13672
yes    12431
Name: count, dtype: int64

Mediana de 'age': 39.0
814

In [29]:
cat_imputer = SimpleImputer(strategy="most_frequent")
df[['marital', 'education', 'default', 'housing']] = cat_imputer.fit_transform(df[['marital', 'education', 'default', 'housing']])

num_imputer = SimpleImputer(strategy="median")
df[['age']] = num_imputer.fit_transform(df[['age']])

# Comprobar nulos
print(df.isnull().sum())
print("Total nulos = ", df.isnull().sum().sum())

id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64
Total nulos =  0

In [30]:
# Compruebo modas y medianas despu√©s de imputar datos
for col in ['marital', 'education', 'default', 'housing']:
    print(f"Moda de '{col}': {df[col].mode()[0]}")
    print(df[col].value_counts())
    print()

mediana_age = df['age'].median()
print(f"Mediana de 'age': {mediana_age}")
print((df['age'] == mediana_age).sum())

Moda de 'marital': married
marital
married     14860
single       8307
divorced     3013
Name: count, dtype: int64

Moda de 'education': secondary
education
secondary    12809
tertiary      8666
primary       3577
unknown       1128
Name: count, dtype: int64

Moda de 'default': no
default
no     25788
yes      392
Name: count, dtype: int64

Moda de 'housing': no
housing
no     13749
yes    12431
Name: count, dtype: int64

Mediana de 'age': 39.0
832

In [31]:
df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,2,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
2,3,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
3,4,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
4,5,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26176,16838,52.0,technician,married,secondary,no,195,yes,no,cellular,18,feb,220,1,63,5,failure,yes
26183,20814,28.0,technician,single,secondary,no,631,no,no,cellular,29,apr,835,7,-1,0,unknown,no
26184,17441,33.0,blue-collar,married,primary,no,0,no,no,cellular,8,may,174,1,-1,0,unknown,no
26186,20919,56.0,management,divorced,tertiary,no,310,no,no,unknown,20,jun,75,4,-1,0,unknown,no
26187,21121,40.0,blue-collar,married,secondary,no,-839,yes,yes,cellular,16,jul,1018,2,-1,0,unknown,yes

### Reasignaci√≥n de nuevas IDs a filas con IDs duplicadas

In [32]:
df.shape

(26180, 18)

In [33]:
# COPIA DE SEGURIDAD
df_original = df.copy()

# 1. Detectar duplicados por ID (no id√©nticos)
total_ids_duplicados = df[df['id'].duplicated(keep=False)]
duplicados_no_identicos = total_ids_duplicados.groupby('id').filter(lambda x: not x.duplicated().all())

# 2. Reasignar nuevos IDs a una copia segura
duplicados_no_identicos = duplicados_no_identicos.copy()
max_id_actual = df['id'].max()
duplicados_no_identicos['id'] = range(max_id_actual + 1, max_id_actual + 1 + len(duplicados_no_identicos))

# 3. Eliminar registros originales con IDs problem√°ticos
ids_a_eliminar = duplicados_no_identicos['id'].duplicated(keep=False)  # Ya reasignados ‚Üí no est√°n en el original
ids_originales = total_ids_duplicados['id'].unique()
df = df[~df['id'].isin(ids_originales)].reset_index(drop=True)

# 4. A√±adir filas corregidas
df = pd.concat([df, duplicados_no_identicos], ignore_index=True)

# 5. Verificaci√≥n final
print(f"Filas finales en el dataset corregido: {df.shape[0]}")
print(f"Total de IDs √∫nicos: {df['id'].nunique()}")

Filas finales en el dataset corregido: 26180
Total de IDs √∫nicos: 26180

In [34]:
# Verificaci√≥n de duplicados
total_ids_duplicados = df[df['id'].duplicated(keep=False)]
print(f"IDs duplicados post correcci√≥n: {total_ids_duplicados['id'].nunique()}")
print(f"Filas con IDs duplicados post correcci√≥n: {len(total_ids_duplicados)}")

IDs duplicados post correcci√≥n: 0
Filas con IDs duplicados post correcci√≥n: 0

In [35]:
df.shape

(26180, 18)

### Convertir columnas booleanas

In [36]:
# Detectar columnas con solo 'yes' y 'no'
for col in df.columns:
    unique_vals = df[col].dropna().unique()
    if set(unique_vals).issubset({'yes', 'no'}):
        print(f"La columna '{col}' contiene solo 'yes' y 'no'")

La columna 'default' contiene solo 'yes' y 'no'
La columna 'housing' contiene solo 'yes' y 'no'
La columna 'loan' contiene solo 'yes' y 'no'
La columna 'deposit' contiene solo 'yes' y 'no'

In [37]:
# Convertir columnas binarias 'yes'/'no' a booleanas
bool_columns = ['default', 'housing', 'loan', 'deposit']
for col in bool_columns:
    df[col] = df[col].map({'yes': True, 'no': False})
print(df.dtypes)

id             int64
age          float64
job           object
marital       object
education     object
default         bool
balance        int64
housing         bool
loan            bool
contact       object
day            int64
month         object
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome      object
deposit         bool
dtype: object

### Correcci√≥n columna `age`

In [38]:
# Convertir 'age' a entero 
df['age'] = pd.to_numeric(df['age'], errors='coerce').fillna(0).astype(int)
print(df.dtypes)

id            int64
age           int64
job          object
marital      object
education    object
default        bool
balance       int64
housing        bool
loan           bool
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
deposit        bool
dtype: object

### Correcci√≥n columna `month`

In [39]:
# Asegurar que 'month' tenga solo la primera letra en may√∫scula
df['month'] = df['month'].str.strip().str.lower().str.capitalize()
df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True
1,2,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True
2,3,56,admin.,married,secondary,False,45,False,False,unknown,5,May,1467,1,-1,0,unknown,True
3,4,41,technician,married,secondary,False,1270,True,False,unknown,5,May,1389,1,-1,0,unknown,True
4,5,55,services,married,secondary,False,2476,True,False,unknown,5,May,579,1,-1,0,unknown,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26175,26393,52,technician,married,secondary,False,195,True,False,cellular,18,Feb,220,1,63,5,failure,True
26176,26394,28,technician,single,secondary,False,631,False,False,cellular,29,Apr,835,7,-1,0,unknown,False
26177,26395,33,blue-collar,married,primary,False,0,False,False,cellular,8,May,174,1,-1,0,unknown,False
26178,26396,56,management,divorced,tertiary,False,310,False,False,unknown,20,Jun,75,4,-1,0,unknown,False
26179,26397,40,blue-collar,married,secondary,False,-839,True,True,cellular,16,Jul,1018,2,-1,0,unknown,True

### Crear columna `date`

In [ ]:
# Crear columna 'date' combinando 'day' y 'month' 
df['date'] = pd.to_datetime(
    df['day'].astype(str) + '-' + df['month'] + '-2008',
    dayfirst=True
)
df

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,date
0,1,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True,2024-05-05
1,2,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True,2024-05-05
2,3,56,admin.,married,secondary,False,45,False,False,unknown,5,May,1467,1,-1,0,unknown,True,2024-05-05
3,4,41,technician,married,secondary,False,1270,True,False,unknown,5,May,1389,1,-1,0,unknown,True,2024-05-05
4,5,55,services,married,secondary,False,2476,True,False,unknown,5,May,579,1,-1,0,unknown,True,2024-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26175,26393,52,technician,married,secondary,False,195,True,False,cellular,18,Feb,220,1,63,5,failure,True,2024-02-18
26176,26394,28,technician,single,secondary,False,631,False,False,cellular,29,Apr,835,7,-1,0,unknown,False,2024-04-29
26177,26395,33,blue-collar,married,primary,False,0,False,False,cellular,8,May,174,1,-1,0,unknown,False,2024-05-08
26178,26396,56,management,divorced,tertiary,False,310,False,False,unknown,20,Jun,75,4,-1,0,unknown,False,2024-06-20
26179,26397,40,blue-collar,married,secondary,False,-839,True,True,cellular,16,Jul,1018,2,-1,0,unknown,True,2024-07-16

### Guardar el DataFrame limpio

In [41]:
df.to_csv("../Data/df_250526.csv")