In [16]:
import pandas as pd

In [21]:
RRHH_08072025 = pd.read_csv(r"C:\Users\MAITE\Desktop\JOSE\IT_ACADEMY\2_ Especializacion Analisis de datos\x_Proyecto_Simulacion_Empresarial\Proyecto_RRHH\SPRINT_2\rrhh_08072025.csv")

RRHH_08072025 = RRHH_08072025.drop('Unnamed: 0', axis=1)

In [22]:
RRHH_08072025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       806 non-null    int64
 1   Reason_absence           806 non-null    int64
 2   Month_absence            806 non-null    int64
 3   Day_week                 806 non-null    int64
 4   Seasons                  806 non-null    int64
 5   Transportation_expense   806 non-null    int64
 6   Distance_Residence_Work  806 non-null    int64
 7   Service_time             806 non-null    int64
 8   Age                      806 non-null    int64
 9   Work_load_Average_day    806 non-null    float64
 10  Hit_target               806 non-null    int64
 11  Disciplinary_failure     806 non-null    int64
 12  Education                806 non-null    int64
 13  Son                      806 non-null    int64
 14  Social_drinker           806 non-null    int64
 15  Social_smoker            806 non-null    int64
 16  Pet                      806 non-null    int64
 17  Weight                   806 non-null    int64
 18  Height                   806 non-null    int64
 19  Body_mass_index          806 non-null    int64
 20  Absenteeism_hours        806 non-null    int64
dtypes: float64(1), int64(20)
memory usage: 132.4 KB

In [24]:
df_rrhh_08072025 = RRHH_08072025.copy()

In [ ]:
# Modificaci√≥n de tipos de datos

columnas_a_convertir_1 = ['ID','Reason_absence','Month_absence','Day_week','Seasons','Disciplinary_failure','Education','Social_drinker','Social_smoker']
df_rrhh_08072025[columnas_a_convertir_1] = df_rrhh_08072025[columnas_a_convertir_1].apply(lambda col: col.astype('category'))

columnas_a_convertir_2 = ['Son','Pet']
df_rrhh_08072025[columnas_a_convertir_2] = df_rrhh_08072025[columnas_a_convertir_2].apply(lambda col: col.astype('int64'))


df_rrhh_08072025['Work_load_Average_day'] = pd.to_numeric(
    df_rrhh_08072025['Work_load_Average_day'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else x),
    errors='coerce').astype('float')

df_rrhh_08072025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806 entries, 0 to 805
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       806 non-null    category
 1   Reason_absence           806 non-null    category
 2   Month_absence            806 non-null    category
 3   Day_week                 806 non-null    category
 4   Seasons                  806 non-null    category
 5   Transportation_expense   806 non-null    int64
 6   Distance_Residence_Work  806 non-null    int64
 7   Service_time             806 non-null    int64
 8   Age                      806 non-null    int64
 9   Work_load_Average_day    806 non-null    float64
 10  Hit_target               806 non-null    int64
 11  Disciplinary_failure     806 non-null    category
 12  Education                806 non-null    category
 13  Son                      806 non-null    int64
 14  Social_drinker           806 non-null    category
 15  Social_smoker            806 non-null    category
 16  Pet                      806 non-null    int64
 17  Weight                   806 non-null    int64
 18  Height                   806 non-null    int64
 19  Body_mass_index          806 non-null    int64
 20  Absenteeism_hours        806 non-null    int64
dtypes: category(9), float64(1), int64(11)
memory usage: 91.6 KB

In [ ]:
# CREACION COLUMNAS NOMBRES DE CODIGOS TEMPORALES

# creacion columnas nombre estaciones
mapa = {1: 'summer', 2: 'autum', 3: 'winter',4:'spring'}
df_rrhh_08072025['Seasons_name'] = df_rrhh_08072025['Seasons'].map(mapa)

# # creacion columnas nombre meses
mapa2 = {0:'Unknown', 1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
df_rrhh_08072025['Month_absence_name'] = df_rrhh_08072025['Month_absence'].map(mapa2)

# creacion columnas nombre dias de semana
mapa3 = {2: 'Monday', 3: 'Tuesday',4:'Wednesday',5: 'Thursday', 6: 'Friday'}
df_rrhh_08072025['Day_week_name'] = df_rrhh_08072025['Day_week'].map(mapa3)

# cambio del tipo de datos
columnas_a_convertir = ['Seasons_name','Month_absence_name','Day_week_name']
df_rrhh_08072025[columnas_a_convertir] = df_rrhh_08072025[columnas_a_convertir].astype('category')

In [37]:
df_rrhh_08072025

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours,Seasons_name,Month_absence_name,Day_week_name
0,14,11,11,2,4,155,12,14,34,284.031,...,1,0,0,95,196,25,120,spring,November,Monday
1,36,13,4,4,3,118,13,18,50,239.409,...,1,0,0,98,178,31,120,winter,April,Wednesday
2,9,6,7,3,1,228,14,16,58,264.604,...,0,0,1,65,172,22,120,summer,July,Tuesday
3,28,9,7,3,1,225,26,9,28,230.290,...,0,0,2,69,169,24,112,summer,July,Tuesday
4,9,12,3,3,2,228,14,16,58,222.196,...,0,0,1,65,172,22,112,autum,March,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
801,132,23,3,4,2,289,36,13,33,222.196,...,1,0,1,90,172,30,8,autum,March,Wednesday
802,133,0,0,3,1,118,14,13,40,271.219,...,1,0,8,98,170,34,0,summer,Unknown,Tuesday
803,134,10,4,4,3,118,10,10,37,246.288,...,0,0,0,83,172,28,2,winter,April,Wednesday
804,135,23,12,2,4,225,26,9,28,280.549,...,0,0,2,69,169,24,2,spring,December,Monday
805,136,27,1,5,2,118,10,10,37,308.593,...,0,0,0,83,172,28,2,autum,January,Thursday

In [39]:
# Ordenacion de la columna categorica de mes por nombre
ordered_month = ['January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December', 'Unknown']

df_rrhh_08072025['Month_absence_name'] = pd.Categorical(df_rrhh_08072025['Month_absence_name'], categories=ordered_month, ordered=True)

df_rrhh_08072025 = df_rrhh_08072025.sort_values('Month_absence_name')
df_rrhh_08072025

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours,Seasons_name,Month_absence_name,Day_week_name
805,136,27,1,5,2,118,10,10,37,308.593,...,0,0,0,83,172,28,2,autum,January,Thursday
229,14,18,1,3,2,155,12,14,34,313.532,...,1,0,0,95,196,25,8,autum,January,Tuesday
228,32,10,1,5,2,289,48,29,49,313.532,...,0,0,2,108,172,36,8,autum,January,Thursday
307,14,23,1,3,2,155,12,14,34,330.061,...,1,0,0,95,196,25,4,autum,January,Tuesday
589,34,19,1,2,2,118,10,10,37,308.593,...,0,0,0,83,172,28,1,autum,January,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,15,28,12,4,4,291,31,12,40,280.549,...,1,0,1,73,171,25,1,spring,December,Wednesday
802,133,0,0,3,1,118,14,13,40,271.219,...,1,0,8,98,170,34,0,summer,Unknown,Tuesday
704,8,0,0,4,2,231,35,14,39,271.219,...,1,0,2,100,170,35,0,autum,Unknown,Wednesday
703,4,0,0,3,1,118,14,13,40,271.219,...,1,0,8,98,170,34,0,summer,Unknown,Tuesday
705,35,0,0,6,3,179,45,14,53,271.219,...,0,0,1,77,175,25,0,winter,Unknown,Friday

In [ ]:
# Calculo de la TASA MENSUAL DE ABSENTISMO

# Calculo del total de horas de absentismo por mes
tasa_mensual_absentismo = df_rrhh_08072025.groupby('Month_absence_name',observed=True)['Absenteeism_hours'].sum().reset_index()

tasa_mensual_absentismo.rename(columns={'Absenteeism_hours':'Monthly_Absenteeism_hours'}, inplace=True)

# Calculo de la tasa mensual de absentismo per capita (hora)
tasa_mensual_absentismo['Monthly_Absenteeism_rate'] = (tasa_mensual_absentismo['Monthly_Absenteeism_hours']/df_rrhh_08072025['ID'].nunique()).round(1)
tasa_mensual_absentismo = tasa_mensual_absentismo
tasa_mensual_absentismo

   Month_absence_name  Monthly_Absenteeism_hours  Monthly_Absenteeism_rate
0             January                        240                       1.8
1            February                        303                       2.2
2               March                        796                       5.8
3               April                        545                       4.0
4                 May                        499                       3.6
5                June                        472                       3.4
6                July                        856                       6.2
7              August                        322                       2.4
8           September                        343                       2.5
9             October                        351                       2.6
10           November                        520                       3.8
11           December                        437                       3.2
12            Unknown                          0                       0.0

In [ ]:
# Calculo del MES PICO DE CARGA POR AUSENCIAS
indice_maximo = tasa_mensual_absentismo['Monthly_Absenteeism_hours'].idxmax()
mes_pico = tasa_mensual_absentismo.loc[indice_maximo, 'Month_absence_name']
mes_pico

'July'

In [ ]:
# # Calculo del MOTIVO MODAL DE ABSENTISMO
dic_reasons_absence = {22 :'patient follow-up', 23:'medical consultation', 28: 'dental consultation'}

reason_absence_count = df_rrhh_08072025['Reason_absence'].value_counts().reset_index()

index_max = reason_absence_count['count'].idxmax()
reason_absence_code = reason_absence_count.loc[index_max, 'Reason_absence']

motivo_modal_absentismo = dic_reasons_absence.get(reason_absence_code, 'Unknown Reason')

print(f'El motivo modal de absentismo laboral es "{motivo_modal_absentismo}"')

El motivo modal de absentismo laboral es "medical consultation"

In [ ]:
# Calculo del INDICE DE EFICIENCIA RELATIVA POR CARGA LABORAL

indice_eficiencia_relativa_carga_laboral = (df_rrhh_08072025['Hit_target'].sum()/df_rrhh_08072025['Work_load_Average_day'].sum()).round(2)
print(f'El indice de eficiencia relativa por carga laboral es "{indice_eficiencia_relativa_carga_laboral}"')

El indice de eficiencia relativa por carga laboral es "0.35"

KPIS

In [ ]:
# Dataframe con MES_PICO, MOTIVO_MODAL, INDICE_EFICIENCIA

kpis = pd.DataFrame()
kpis['mes_pico'] = [mes_pico]
kpis['motivo_modal'] = [motivo_modal_absentismo]
kpis['indice_eficiencia'] = [indice_eficiencia_relativa_carga_laboral]
kpis

  mes_pico          motivo_modal  indice_eficiencia
0     July  medical consultation               0.35

In [ ]:
# Dataframe de TASA_MENSUAL_ABSENTISMO

tasa_mensual_absentismo

   Month_absence_name  Monthly_Absenteeism_hours  Monthly_Absenteeism_rate
0             January                        240                       1.8
1            February                        303                       2.2
2               March                        796                       5.8
3               April                        545                       4.0
4                 May                        499                       3.6
5                June                        472                       3.4
6                July                        856                       6.2
7              August                        322                       2.4
8           September                        343                       2.5
9             October                        351                       2.6
10           November                        520                       3.8
11           December                        437                       3.2
12            Unknown                          0                       0.0